/* CSS AQUI */
* {
    box-sizing: border-box;
}

body {
    background-color: #000 !important;
}

.boxContent {}

.output {
    width: 100%;
    height: 100px;
    background-color: aquamarine;
}

.input {
    width: 100%;
}